.LunaAdmin-Content-Dashboard {
  .breadcrumb {
    display: inline-block;
    background-color: transparent;
    border: 1px #ddd solid;
    padding: 2px 6px;
    li,
    li > a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
    }
    li:not(.active) > a {
      color: #999;
    }
    li.active,
    li.active > a {
      color: #444;
    }
  }
  .LunaAdmin-Content-Dashboard-Greeting {
    margin: 15px 0 15px 0;
    font-size: 20px;
    color: #a99f9f;
    -webkit-font-smoothing: antialiased;
  }
  .LunaAdmin-Content-Dashboard-QuickLinks {
    .LunaCard {

    }
    .LunaCard-Header,
    .LunaCard-Body {
      padding: 15px;
    }
    .LunaCard-Header .heading {
      margin: 0;
      font-size: 15px;
      // text-transform: uppercase;
      font-weight: bold;
    }
    .LunaAdmin-Content-Dashboard-QuickLinks-Items {
      display: flex;
      justify-content: space-between;
    }
    .LunaAdmin-Content-Dashboard-QuickLinks-Item {
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      text-transform: uppercase;
      color: #29a5f9;
      .svg-box {
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: inline-block;
      }
      svg {
        font-size: 35px;
        color: #fff;
      }
      p {
        margin: 5px 0 0 0;
      }
    }
    .LunaAdmin-Content-Dashboard-QuickLinks-Item.meme {
      color: #29a5f9;
      .svg-box {
        border: 1px solid #29a5f9;
        background-color: #29a5f9;
      }
    }
    .LunaAdmin-Content-Dashboard-QuickLinks-Item.article {
      color: #1abc9b;
      .svg-box {
        border: 1px solid #1abc9b;
        background-color: #1abc9b;
      }
    }
    .LunaAdmin-Content-Dashboard-QuickLinks-Item.gif {
      color: #ba1abc;
      .svg-box {
        border: 1px solid #ba1abc;
        background-color: #ba1abc;
      }
    }
  }
  .LunaAdmin-Content-Dashboard-Collections {
    .LunaCard {

    }
    .LunaCard-Header {
      padding: 15px;
    }
    .LunaCard-Header .heading {
      margin: 0;
      font-size: 15px;
      // text-transform: uppercase;
      font-weight: bold;
    }
    .LunaAdmin-Content-Dashboard-Collections-Items {
      display: flex;
      flex-direction: column;
    }
    .LunaAdmin-Content-Dashboard-Collections-Item {
      padding: 14.5px 15px;
      border-radius: 5px;
      color: #999;
      border-bottom: 1px solid rgba(0,0,0,.07);
      font-size: 15px;
      .svg-box {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
        display: inline-block;
      }
      svg {
        font-size: 18px;
        margin-right: 10px;
      }
      p {
        margin: 5px 0 0 0;
      }
    }
    .LunaAdmin-Content-Dashboard-Collections-Item:last-child {
      border-bottom-width: 0;
    }
    .LunaAdmin-Content-Dashboard-Collections-Item.article {
    }
    .LunaAdmin-Content-Dashboard-Collections-Item.gif {
    }
  }
}