body, html {
  background-color: #fafafa;
}
.LunaAdmin {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  .header {
    .navbar {
      // box-shadow: 0 4px 35px #dcdcdc;
      box-shadow: 0 0 20px rgba(0,0,0,0.07);
      border-bottom: 1px #eee solid;
      background-color: #fff;
      border-radius: 0;
      border-width: 0;
    }
    .navbar-brand {
      font-weight: 900;
      padding: 20px 15px;
    }
    .navbar-nav>li>a {
      padding: 20px 15px;
      display: flex;
      svg {
        font-size: 20px;
        margin-right: 3px;
      }
      .caret {
        display: none;
      }
    }
    .navbar-nav>li.new-post>a {
      font-weight: 900;
      color: #4FC1E9;
    }
    .dropdown-menu {
      box-shadow: none;
      border-color: #eee;
      .divider {
        background-color: #eee;
      }
    }
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .LunaAdmin-Content {
    margin-top: 100px;
  }
}