.DashboardLayout {
  height: 100%;
  display: flex;

  .brand {
    font-size: 20px;
    color: #0070e0;
    margin: 0;
    small {
      font-size: 50%;
      margin-left: 4px;
      color: #979aa2;
    }
  }
  .logo:link,
  .logo:hover,
  .logo:active,
  .logo:visited {
    text-decoration: none;
  }

  .link-list {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    .link-item {
      margin-bottom: 10px;
      font-size: 15px;
      a,
      a:visited {
        color: #637282;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
      }
      a:hover {
        color: #99a5b2;
        text-decoration: none;
      }
    }
    @media (max-width: 767px) {
      .link-item {
        margin-bottom: 0;
      }
    }
    .link-item.active {
      a {
        color: #0070e0;
        font-weight: bold;
        background-color: transparent;
      }
    }
    .link-item.greeting:hover {
      a {
        text-decoration: none;
      }
    }
  }

  .mobile-menu {
    .navbar {
      background: #F7F9FA;
      border-color: #efefef;
      .navbar-toggle {
        border-color: transparent;
        .icon-bar {
          background-color: #0070e0;
          background-color: #b9bfc5;
        }
      }
      .navbar-toggle:hover,
      .navbar-toggle:focus {
        background-color: transparent;
        .icon-bar {
          background-color: #0070e0;
        }
      }
      .navbar-toggle.collapsed {
        .icon-bar {
          background-color: #b9bfc5;
        }
      }

      .navbar-collapse.in {
        padding-bottom: 10px;
      }
    }
  }


  .Sidebar {
    width: 240px; 
    height: 100%;
    background: #F7F9FA;
    padding: 30px;

    .header {
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: inherit;
    }


    .brand {
      font-size: 20px;
      color: #0070e0;
      margin: 0;
      small {
        font-size: 50%;
        margin-left: 4px;
        color: #979aa2;
      }
    }
    .link-list {
      margin: 20px 0 0 0;
      padding: 0;
      list-style: none;
      .link-item {
        margin-bottom: 10px;
        font-size: 15px;
        a,
        a:visited {
          color: #637282;
          -webkit-font-smoothing: antialiased;
          text-decoration: none;
        }
        a:hover {
          color: #99a5b2;
          text-decoration: none;
        }
      }
      .link-item.active {
        a {
          color: #0070e0;
          font-weight: bold;
        }
      }
      .link-item.greeting {
        margin-bottom: 0px;
        a {
          text-decoration: none;
          color: #1B2733;
        }
      }
      .link-item.greeting:hover {
        a {
        text-decoration: none;
        }
      }
      .link-item.logout {
        margin-bottom: 0px;
        a {
          cursor: pointer;
        }
      }
      .link-item.logout:hover {
        a {
          color: #0070e0;
        }
      }
    }
  }

  .Content {
    flex: 3;  
    overflow-y: scroll;


    .dashboard-page {
      position: relative;
      > .header {
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1;
        .page-title {
          margin: 0;
          font-size: 20px;
        }
      }
      > .body {
        padding: 0 40px 0 40px;
        > .inner {
          padding-top: 30px;
          border-top: 1px solid #efefef;
        }
      }
    }
  }  
}

@media (max-width: 767px) {
  .DashboardLayout {
    flex-direction: column;
  }
}
