.Apollo-SingleImagePicker {
	.Apollo-SingleImagePickerPreview {
		height: 250px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
	}
	.Apollo-SingleImagePickerPreview-ReadOnly {
		height: 250px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
	}
	.Apollo-SingleImagePicker-PreviewImage {
		max-width: 100%;
		max-height: 100%;
	}
	.Apollo-SingleImagePicker-Trigger {
		width: 100%;
    background-color: white;
    box-shadow: none;
    border: 1px solid;
		border: 1px solid #ccc;
		padding: 40px 30px;
		border-radius: 4px;
		svg {
			font-size: 40px;
		}
	}
	.Apollo-SingleImagePicker-Trigger:focus {
		outline: 0;
	}
}
.Apollo-SingleImagePicker.PreviewOnly {
	border: 1px solid #ccc;
	border-radius: 4px;
	.Apollo-SingleImagePickerPreview {
		padding: 40px 30px;
	}
}