.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form-wrapper {
        width: 25%;
        .brand {
            text-align: center;
            padding-bottom: 20px;
            font-size: 23px;
            color: #0070e0;
            font-weight: bold;
            small {
                font-size: 65%;
                color: #979aa2;
            }
        }
        form {
            border: 0px solid #eee;
            button {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                .login-text {
                    svg {
                        position: relative;
                        bottom: 2px;
                        margin-right: 5px;
                    }
                }
            }
            .error {
                color: red;
                border:  1px solid red;
                border-radius: 4px;
                margin-bottom: 15px;
                padding: 10px 15px;
            }
        }
    }
    @media (max-width: 767px) {
        .form-wrapper {
            width: 90%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .form-wrapper {
            width: 60%;
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .form-wrapper {
            width: 80%;
        }
    }
}