.LunaAdmin-Content-Collections-Meme-List {
	.LunaAdmin-Content-Collections-Meme-List-Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.LunaAdmin-Content-Collections-Meme-List-Header-Heading {
		margin: 0px;
		font-weight: 900;
		font-size: 21px;
	}
	.LunaAdmin-Content-Collections-Meme-List-Header-NewButton {
		background-color: #1abc9b;
		color: #fff;
		font-size: 17px;
		display: flex;
		align-items: center;
		svg {
			font-size: 17px;
			margin-right: 05px;
		}
	}
	.LunaAdmin-Content-Collections-Meme-List-FiltersPlusSearch {
		display: flex;
		justify-content: space-between;
		display: none;
	}
	.LunaAdmin-Content-Collections-Meme-List-Filters {
		flex-basis: 75%;
	}
	.LunaAdmin-Content-Collections-Meme-List-Search {
		flex-basis: 25%;
	}
	.LunaAdmin-Content-Collections-Meme-List-FilterCriteria {
		margin-right: 15px;
		border-right: 1px solid #bbb;
		display: inline-block;
		padding-right: 15px;
	}
	.LunaAdmin-Content-Collections-Meme-List-FilterCriteria:last-child {
		border-right-width: 0;
	}
	.LunaAdmin-Content-Collections-Meme-List-FilterCriteria a {
		margin-right: 3px;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items {
		margin-top: 30px;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items table {
		background-color: white;
		border: 1px solid #ddd;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items table>thead>tr>th {
		border-bottom-width: 1px;
		padding: 10px;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items table>thead>tr>th.title-cell {
		width: 50%;
		max-width: 50%;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items table>tbody>tr>td {
		padding: 10px 10px;
		border-top: 1px solid #f1f1f1;
	}
	.LunaAdmin-Content-Collections-Meme-List-Items table>tbody>tr:first-child>td {
		border-top-width: 0;
	}
}