@import '../../../vars.scss';

.Dropdown select {
  box-shadow: none;
  border-color: #dfdfdf;
  height: 40px;
  font-size: 15px;
}

.Dropdown select:focus,
.Dropdown select:hover {
  border-color: $primary-color;
  outline: 0;
  box-shadow: none;
}
.Dropdown select:hover {
  color: $primary-color;
}

.Dropdown select::-webkit-select-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
.Dropdown select::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
.Dropdown select:-ms-select-placeholder { /* IE 10+ */
  color: #bbb;
}
.Dropdown select:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}
