@import '../../../vars.scss';

.AnswerTextInputs {
  margin-top: 25px;
  border: 0px solid #000;
  width: 100%;
  .heading {
    margin-bottom: 15px;
  }
  > .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

