@import '../../../vars.scss';

.TextInput input {
  box-shadow: none;
  border-color: #dfdfdf;
  height: 40px;
  font-size: 15px;
}

.TextInput input:focus,
.TextInput input:hover {
  border-color: $primary-color;
  outline: 0;
  box-shadow: none;
}
.TextInput input:hover {
  color: $primary-color;
}

.TextInput input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
.TextInput input::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
.TextInput input:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
.TextInput input:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}
